@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply text-gray-900 antialiased;
  }
}

@layer components {
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}